.profile {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* align-items: center; */
}

.profile__image {
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #1a1a1a;
  margin-right: 10px;
}

.profile__nameText {
  font-size: 24px;
  font-weight: 500;
}

.profile__positionText {
  font-size: 18px;
  font-weight: 400;
  color: #202020;
  margin-bottom: 10px;
}

.profile__bioText {
  max-width: 600px;
  font-size: 16px;
  color: #202020;
}
